.option {
  padding: 5px;
  margin: 5px 0px 5px;
}
.sort{
  padding: 20px;
}

#navBg {
	background-color: #00796b !important;	
	 color:#fff;
	width: 100%;
}

#navBg ul li a {
	color: #ffffff;
	font-size: 18px;
}
#navBg ul li a:hover  {
	background-color: none;
 color: #ef5350;
 font-size: 20px;
 border-bottom: 2px solid #ef5350; 
 transition: 2s;
}
#navBg ul li ul li a:hover  {
	background-color: none;
 color: #ef5350;
 font-size: 18px;
 transition: 2s;
}

#navBg .navbar-brand   {
 color: #f3e5f5;
 font-family: tahoma;
 font-style: bold;
}

#navBg .navbar-toggle .icon-bar {
	background-color: #fff;
}

#navBg .navbar-brand:hover  {
	background-color: none;
 color: #ef5350;
 font-size: 28px;
 transition: 2s;
}

#left-col {
	padding: 50px;
	background: #eeeeee;
}


.start {
	margin-top: 0px auto;

	background-image:url(../images/6.jpg);
	background-attachment: fixed;
	color: #ccc;
	border-bottom: 2px solid #DC143C;

}


  footer{

  	background-color: #00796b !important;
  	color: #eee;
  	font-size: 15px;
  	padding: 20px;
  	margin: 0px auto;
  	border-top: 4px solid #F97E76;
  }

  .truckImageLogo > {
  	display: inline-block;
  	float: left;
  }

    .truckImageLogo > img {
  	display: inline-block;
  	float: left;
  	
  	margin: -12px 5px;
  }

/*Buttons*/
#goHomeBtn {
  color: #efebe9;
  background-color: #00897b;
  padding: 8px 14px;
  border: 1px solid #e0f2f1;
  border-radius: 6px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-right: 20px;
}

#goCloseBtn {
  color: #a1887f;
  padding: 8px 14px;
  border: 1px solid #d7ccc8;
  border-radius: 6px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143
  

}
#nuv ul li {
 padding: 50px;; 
}

.openTruckBtn {
  color: #efebe9;
  background-color: #00897b;
  padding: 8px 14px;
  border: 1px solid #e0f2f1;
  border-radius: 6px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;


}

.openTruckBtn:hover{
color: #c2185b;
  background-color: #26a69a;
  padding: 9px 15px;
  border: 1px solid #5d4037;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  transition: 1s;
}



.openTruckedBtn {
  color: #efebe9;
  background-color: #00897b;
  padding: 8px 14px;
  border: 1px solid #e0f2f1;
  border-radius: 6px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;

}

.openTruckedBtn:hover,
.openTruckedBtn:focus{
color: #c2185b;
  background-color: #26a69a;
  padding: 8px 14px;
  border: 1px dotted #00695c;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  transition: 1s;
}

/*Buttons css ends here*/

.contained {
	width: 80%;
	margin: 0px auto;
}

#sidedbar {
  padding-top: 5px;
  background-color: #000 !important;
  color:#ffffff;

}
#sidedbar li{
  padding-top: 10px;
}
#sidedbar li a{
  color: #84ffff !important;
  padding-left: 15%; 

}
#thumb {
  background-color: #000 !important;
 border-color: #795548 !important;  
}
#thumb img{
  border-radius: 40px;
}
#thumb h5{
 color:#ffffff !important;
}
#thumb a{
 color:#ffffff !important;
}

#thumb i{
  color: #00e676 !important;
}

#sider {
  padding-top: 5px;
  background-color: #000 !important;
  color:#ffffff;

}
#sider li{
  padding-top: 10px;
}
#sider li a{
  color: #84ffff !important;
  padding-left: 15%; 

}
/*  INVISIBLE side nav*/
.hamburger {
  font-size: 30px;
  cursor: pointer;
  top: 50px;
  left: 20px;
display: none;

}
   

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}



#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
  cursor: pointer;
}

#mySidenav a:hover,
#mySidenav .offcanvas a:focus {
  color: #f1f1f1;
  cursor: pointer;
}

.closebtn {
display: none;
}

@media screen and (max-width: 1200px) {
    #sidedbar{
        display: none;
    }

.hamburger {
  font-size: 30px;
  cursor: pointer;
  top: 50px;
  color: #33691e; 
  display: block;

}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 55px;
  margin-left: 50px;
  display: block;
}

    
}